<div class="box" *ngIf="!selectedSeries">
  <div class="left">
    <div *ngFor="let list of source?.lists;let i = index">
      <div class="option" [class.selected]="selectedIndex===i" (mousedown)="activate(list, i)">
        {{list?.name}} {{list.loading()?'loading...':''}}
      </div>
    </div>
  </div>
  <div class="right" *ngFor="let list of source?.lists;let i = index;">
    <div *ngIf="selectedIndex===i">
      <div class="loading" *ngIf="list?.loading()">LOADING...</div>

      <div class="list-wrapper">
        <!--<div class="title">{{list.name}}</div>-->
        <div class="list">
          <div class="item" *ngFor="let item of list?.items">
            <img (click)="select(item)" src="{{item?.series.image}}" alt="">
            <div class="info">
              <div class="name" (click)="select(item)"> {{item?.series.name}}</div>
              <div class="note">Latest: {{item?.book.name}}</div>
              <a class="detail" (click)="select(item)">See Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-source-series *ngIf="selectedSeries" [series]="selectedSeries" (exit)="selectedSeries=null"></app-source-series>
