*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #444;
    font-size: 14px;
}
article{
    margin: 66px;
}
header{
    margin-bottom: 22px;
}
h1{
    font-size: 24px;
}
h2{
    color: #999;
    font-size: 16px;
}
label{
    line-height: 22px;
}
input{
    margin: 5px 0;
    padding-left: 5px;
    display: block;
    width:60%;
    min-width: 88px;
    max-width: 320px;
    height: 33px;
    border-width: 0;
    border-bottom: 1px solid #dddddd;
}
input:focus{
    outline: none;
    border-bottom: 1px solid #999;
}
button{
    margin: 11px auto;
    padding:5px 11px;
}
footer{
    margin-top: 44px;
    color: #999;
}